
.App {
  margin: 0 auto;

  background-color: gainsboro;
  height: 600px;
  margin-bottom: 30px;
  width: 300px;
  box-shadow: 0 0 10px;
}
.text-container{
  margin:0 24px;
}
.text-container h2{

text-align: center;
}

.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 5px;
 /* margin: 0 auto; */
}
.container-detail{
text-align: left;
/* margin: 0 auto; */
width: 250px;


}
.list  li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px gray;
  margin-top: 4px;
  font-size: 13px;

  
}
.list {
  margin: 0 ;
  padding: 0;
}
form  input{
  width: 240px;
}
form button {
  display: flex;
  justify-content: center;
 
  width:40%;
  margin-top: 30px;
  margin-left: 70px;
}
 
form button::after{
  background-color: black;
  
}